{% extends 'main.html' %}
{% block content %}
<h1>Privacy policy</h1>
<ul>
    <li>this app is build anonymously</li>
    <li>we don't collect or share any of your data</li>
    <li>this is an instant chat app (which means that we don't have history for your previous chat)</li>
    <li>this is a nonprofit chat application (you may see ads that will cover the cost of operation only)</li>
    <li>you can change the number of encryption keys that you will use from (1 to 5)</li>
    <li>the app isn't in charge of anything that happen during chatting with anyone</li>
    <li>you can delete your account by going to /user/delete </li>
</ul>


{% endblock %}