{% extends 'main.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="jumbotron">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>
{% endblock %}
